.featuredContainer {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #e1e1e1;
  }
  
  .button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #e1e1e1;
    padding: 10px;
    margin: 5px;
  }

  .buttonContainer h5 {
    font-size: 13px;
  }
  .buttonContainer p {
    font-size: 13px;
    font-weight: 600;
  }

  .button:hover {
    background-color: rgba(237, 235, 235, 0.688);
    cursor: pointer;
  }
  
  .imageContainer {
    max-width: 500px; /* Adjust as needed */
    max-height: 600px; /* Adjust as needed */
    overflow: hidden; /* Prevents image overflow */
  }

  .swiperNavBtn {
    /* Your custom styles for prev and next buttons */
    position: relative;
    color: #333;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.15);
  }
  
  .swiperNavBtn::after,
  .swiperNavBtn::before {
    font-size: 16px;
  }
  
  .swiperSlide {
    justify-content: center;
    align-items: center;
  }
  
  .swiperSlide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .viewMoreButton {
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: indigo;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .viewMoreButton:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .sliderContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .viewMoreButtonSection {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  