.variantcontainer {
    margin-bottom: 10px;
    border-bottom: 1px solid;
    border-color: gray;
    padding: 30px;
    cursor: pointer;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}