.galleryContainer {
  height: 90vh;
  /* background-color: aqua; */
  border: 1px solid rgb(225,225,225);
  border-radius: 0px 0px 10px 10px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}
.mySwiper3 {
  height: 10%;
  width: 100%;
  background-color: rgb(249,249,249);
}

.mySwiper2 {
  height: 70%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}
.mySwiper .swiper-slide img {
  border-radius: 10px;
  /* max-width: 150px; */
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* CustomSwiper.css */

.swiper-button-next,
.swiper-button-prev {
  color: grey; /* Change the color of the icons */
  background-color: white; /* Add a background color */
  border-radius: 50%; /* Make the buttons round */
  width: 30px; /* Set the width */
  height: 30px; /* Set the height */
}
/* 
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #00ff00; 
  background-color: rgba(0, 0, 0, 0.8); 
} */

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px; /* Change the size of the icons */
}
