.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.city p {
    font-size: 10px;
    display: flex;
}

.variant {
    border: gray 1px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
}